<!DOCTYPE html>
<html>

<head>
  <title>Create Link</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">


  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Create Link</h1>

  <p>Enter the link:</p>

  <form id="form" class="pure-form" method="post" action="/link">
    <input id="address" type="text" name="address" />
    <button type="submit" class="pure-button pure-button-primary">Get Link</button>
  </form>

  <script src="/js/validate.js"></script>
</body>

</html>