<!DOCTYPE html>
<html>

<head>
    <title>Link</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="link-page">
        <p>Here is your link:</p>
        <p>
            <a href="<%= link %>"><%= link %></a>
        </p>
    </div>
</body>

</html>